<div *ngIf="table && column" class="container">
  <h2>{{ table.name }}.{{ column.name }}</h2>

  <div *ngIf="existingSettings?.length" class="margin-bottom">
    <h3>Existing generator</h3>
    <mat-chip-list>
      <mat-chip *ngFor="let setting of existingSettings"
        removable
        [selected]="setting.id === column.generator_setting?.id"
        [attr.cdkFocusInitial]="setting.id === column.generator_setting?.id ? true : null"
        (click)="selectSetting(setting)"
        (removed)="deleteSetting(setting)"
        class="cursor-pointer">
        <span class="mat-chip-wrapper">
          {{ setting.name }} <small>{{ setting.id }}</small>
        </span>
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </div>

  <ng-container *ngIf="generatorsByCategory">
    <div *ngFor="let item of generatorsByCategory | keyvalue" class="margin-bottom">
      <h3>{{ item.key }}</h3>
      <mat-chip-list>
        <ng-container *ngFor="let generator of item.value">
          <mat-chip
            *ngIf="generator.name === column.generator_setting?.name"
            removable
            [selected]="true"
            [attr.cdkFocusInitial]="true"
            (removed)="deleteSetting(column.generator_setting)"
            color="accent"
            class="cursor-pointer">
            {{ generator.name }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <mat-chip
            *ngIf="generator.name !== column.generator_setting?.name"
            selectable
            (click)="chooseGenerator(generator)"
            color="accent"
            class="cursor-pointer">
            {{ generator.name }}
          </mat-chip>
        </ng-container>
      </mat-chip-list>
    </div>
  </ng-container>
</div>
