<div *ngIf="table && column" class="container">
  <h2>{{ table.name }}.{{ column.name }}</h2>

  <div *ngIf="existingSettings?.length" class="margin-bottom">
    <h3>Existing generator</h3>
    <mat-chip-list>
      <mat-chip *ngFor="let setting of existingSettings"
        removable
        [selected]="setting.id === column.generator_setting?.id"
        (click)="selectSetting(setting)"
        (removed)="deleteSetting(setting)"
        class="cursor-pointer">
        {{ setting.name }} ({{ setting.id }})
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </div>

  <ng-container *ngIf="generatorsByCategory">
    <div *ngFor="let item of generatorsByCategory | keyvalue" class="margin-bottom">
      <h3>{{ item.key }}</h3>
      <mat-chip-list>
        <mat-chip *ngFor="let generator of item.value"
          selectable 
          (click)="chooseGenerator(generator)"
          [selected]="generator.name === column?.generator_setting?.name"
          color="accent"
          class="cursor-pointer">
          {{ generator.name }}
        </mat-chip>
      </mat-chip-list>
    </div>
  </ng-container>
</div>
