<h2>{{ data.table.name }}.{{ data.column.name }}</h2>

<div *ngIf="data.table.generator_settings as settings" class="margin-bottom">
  <h3>Existing generator</h3>
  <mat-chip-list>
    <mat-chip *ngFor="let setting of settings"
      removable
      [selected]="setting.id === data.column?.generator_setting?.id"
      (click)="selectSetting(setting)"
      style="cursor: pointer;">
      {{ setting.name }} ({{ setting.id }})
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
</div>

<div *ngIf="generators" class="margin-bottom">
  <h3>New generator</h3>
  <mat-chip-list>
    <mat-chip selectable *ngFor="let generator of generators.items" style="cursor: pointer;">
      {{ generator.name }}
    </mat-chip>
  </mat-chip-list>
</div>

<!-- <button mat-flat-button mat-dialog-close type="button">Cancel</button> -->
