<ng-container *ngIf="user">
  <button mat-button [matMenuTriggerFor]="menu">
    <span>{{ user.email || 'anonymous' }} ({{ user.id }})</span>
    <mat-icon>expand_more</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onLogout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</ng-container>

<ng-container *ngIf="!user">
  <button mat-button (click)="openLoginDialog()" class="margin-right">
    Login
  </button>
  <button mat-button (click)="openRegisterDialog()">
    Sign Up
  </button>
</ng-container>
