<ng-container *ngIf="setting && generator; else noGenerator">
  <button mat-button
    *ngIf="generator.is_multi_column; else singleColumn"
    color="primary"
    [matTooltip]="generator.tooltip"
    (click)="chooseGenerator()">
    {{ setting.name }} <small>{{ setting.id }}</small>
  </button>

  <ng-template #singleColumn>
    <button
      mat-button
      [matTooltip]="generator.tooltip"
      (click)="chooseGenerator()">
      {{ setting.name }}
    </button>
  </ng-template>
</ng-container>

<ng-template #noGenerator>
  <button
    mat-button
    (click)="chooseGenerator()">
    Choose a generator
  </button>
</ng-template>
