.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 2;
}

.spacer {
  flex: 1 1 auto;
}

.title, .title:link, .title:visited, .title:hover, .title:active {
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
}
