<app-page-header title="Projects"></app-page-header>

<div *ngIf="projects" class="row flex-wrap margin">
  <mat-card *ngFor="let project of projects" class="margin resource-card">
    <mat-card-header>
      <mat-card-title class="margin-top">{{ project.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <span *ngFor="let table of project.tables">{{ table.name }} </span>
    </mat-card-content>
    <div class="action-buttons">
      <button mat-button [routerLink]="project.id">Open</button>
    </div>
  </mat-card>

  <mat-card class="margin resource-card">
    <mat-card-header>
      <mat-card-title class="margin-top">New project</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Create an empty project.</p>
    </mat-card-content>
    <div class="corner-button">
      <button mat-fab color="accent" aria-label="Create new project" (click)="createProject()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-card>
</div>
