<mat-card class="margin table-card" *ngIf="table">
  <mat-card-header class="row justify-space-between">
    <mat-card-title class="margin-top">{{ table.name }}</mat-card-title>
    <div class="margin-right">
      <button mat-icon-button aria-label="New column" (click)="createColumn()">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button aria-label="Delete" (click)="deleteTable()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-header>

  <mat-card-content>
  <table mat-table [dataSource]="table.columns" class="full-width">
    <ng-container matColumnDef="column">
      <th mat-header-cell *matHeaderCellDef>Column</th>
      <td mat-cell *matCellDef="let column">
        <div class="first-column">
          <button mat-icon-button aria-label="Delete column" (click)="deleteColumn(column)">
            <mat-icon>close</mat-icon>
          </button>
          <div class="margin-right">
            <div>{{ column.name }}</div>
            <small>
              {{ column.col_type | lowercase }}
              <span *ngIf="column.nullable">nullable</span>
            </small>
          </div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="generator">
      <th mat-header-cell *matHeaderCellDef>Generator</th>
      <td mat-cell *matCellDef="let column">
        <div class="margin-right narrow-column">
          <button mat-button
            *ngIf="column.generator_setting as setting"
            (click)="chooseGenerator(column)">
            {{ setting.name }} ({{ setting.id }})
          </button>
          <button *ngIf="!column.generator_setting "
            mat-button
            (click)="chooseGenerator(column)">
            Choose a generator
          </button>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="parameters">
      <th mat-header-cell *matHeaderCellDef>Parameters</th>
      <td mat-cell *matCellDef="let column">
        <div class="margin-right wide-column">
          <app-param-form [table]="table" [column]="column"></app-param-form>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="null_frequency">
      <th mat-header-cell *matHeaderCellDef>Null Frequency</th>
      <td mat-cell *matCellDef="let column">
        <div class="mini-input" *ngIf="column.generator_setting">
          <app-null-frequency-field [table]="table" [column]="column"></app-null-frequency-field>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let column; columns: displayedColumns;"></tr>
  </table>

  <app-constraint-list [table]="table"></app-constraint-list>
  </mat-card-content>
</mat-card>
