<mat-card class="margin resource-card" *ngIf="dataSource">
  <mat-card-header class="row justify-space-between">
    <mat-card-title class="margin-top text-width-limit">
      {{ dataSource.file_name || dataSource.db }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ dataSource.driver || dataSource.mime_type }}
    </mat-card-subtitle>
    <div>
      <button mat-icon-button [matMenuTriggerFor]="resourceContext">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #resourceContext="matMenu">
        <button *ngIf="dataSource.driver && !dataSource.file_name" mat-menu-item (click)="editDatabase()">
          <mat-icon>edit</mat-icon>
          Edit
        </button>
        <button *ngIf="dataSource.file_name" mat-menu-item (click)="download()">
          <mat-icon>download</mat-icon>
          Download
        </button>
        <button mat-menu-item (click)="delete()">
          <mat-icon>delete</mat-icon>
          Delete
        </button>
      </mat-menu>
    </div>
  </mat-card-header>

  <mat-card-content>
    <p *ngIf="dataSource.driver && !dataSource.file_name">
      <small>User</small>
      {{ dataSource.usr }}
      <br>
      <small>Host</small>
      {{ dataSource.host }}<ng-container *ngIf="dataSource.port">:{{ dataSource.port }}</ng-container>
    </p>
    <mat-progress-bar *ngIf="showProgress" mode="indeterminate"></mat-progress-bar>
  </mat-card-content>

  <div class="action-buttons">
    <button mat-button (click)="import()">
      Import schema
    </button>
    <button mat-button *ngIf="dataSource.driver" routerLink="../export">
      Fill with data
    </button>
  </div>
</mat-card>
