<mat-card class="margin resource-card" *ngIf="dataSource">
  <mat-card-header class="row justify-space-between">
    <mat-card-title class="margin-top">
      {{ dataSource.file_name || dataSource.db }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ dataSource.driver || dataSource.mime_type }}
    </mat-card-subtitle>
    <div class="margin-right">
      <button *ngIf="dataSource.driver && !dataSource.file_name" mat-icon-button aria-label="Edit database login">
        <mat-icon>edit</mat-icon>
      </button>
      <button *ngIf="dataSource.file_name" mat-icon-button aria-label="Download file">
        <mat-icon>download</mat-icon>
      </button>
      <button mat-icon-button aria-label="Delete resource" (click)="resourceService.delete(dataSource.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-header>

  <mat-card-content *ngIf="dataSource.driver && !dataSource.file_name">
    <p>
      <small>User</small>
      {{ dataSource.usr }}
      <br>
      <small>Host</small>
      {{ dataSource.host }}<ng-container *ngIf="dataSource.port">:{{ dataSource.port }}</ng-container>
    </p>
  </mat-card-content>

  <div class="action-buttons">
    <button mat-button (click)="import()">
      Import schema
    </button>
    <button mat-button *ngIf="dataSource.driver" routerLink="../export">
      Fill with data
    </button>
  </div>
</mat-card>
