<div class="container row flex-wrap" *ngIf="project">
  <app-resource
    *ngFor="let dataSource of project.data_sources"
    [dataSource]="dataSource"></app-resource>
  <mat-card class="margin resource-card">
    <mat-card-header>
      <mat-card-title class="margin-top">Upload a file</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>CSV, JSON, or SQLite file.</p>
    </mat-card-content>
    <div class="corner-button">
      <button mat-fab color="accent" aria-label="Upload a file" (click)="createFileSource()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-card>
  <mat-card class="margin resource-card">
    <mat-card-header>
      <mat-card-title class="margin-top">Existing database</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Enter login for a publicly accessible PostgreSQL database.</p>
    </mat-card-content>
    <div class="corner-button">
      <button mat-fab color="accent" aria-label="Add an existing database" (click)="createDatabase()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-card>
  <mat-card class="margin resource-card">
    <mat-card-header>
      <mat-card-title class="margin-top">Mock SQLite database</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Create a fresh SQLite database with mocked tables.</p>
    </mat-card-content>
    <div class="corner-button">
      <button mat-fab color="accent" aria-label="Mock database" (click)="mockDatabase()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-card>
</div>
