<form *ngIf="form" [formGroup]="form" novalidate>
  <div class="margin-between" *ngFor="let param of generator.param_list">
    <ng-container [ngSwitch]="getInputType(param)">
      <mat-form-field *ngSwitchCase="'datetime'">
        <mat-label>{{ param.name }}</mat-label>
        <input matInput [formControlName]="param.name" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field *ngSwitchCase="'number'">
        <mat-label>{{ param.name }}</mat-label>
        <input matInput [formControlName]="param.name" type="number">
      </mat-form-field>
      <mat-form-field *ngSwitchCase="'select'">
        <mat-label>{{ param.name }}</mat-label>
        <mat-select [formControlName]="param.name">
          <mat-option *ngFor="let value of param.allowed_values" [value]="value">
            {{ value }}
          </mat-option>
        </mat-select>
      </mat-form-field>    
      <mat-form-field *ngSwitchDefault>
        <mat-label>{{ param.name }}</mat-label>
        <input matInput [formControlName]="param.name" type="text">
      </mat-form-field>
    </ng-container>
  </div>
</form>
