<form [formGroup]="registerForm" novalidate (ngSubmit)="onSubmit()">
  <h2>Register</h2>
  
  <app-form-field [form]="registerForm" label="Email" name="email"></app-form-field>
  <app-form-field [form]="registerForm" label="Password" name="pwd" type="password"></app-form-field>

  <div>
    <div class="margin-between">
      <button mat-flat-button mat-dialog-close type="button">Cancel</button>
    </div>
    <div class="margin-between">
      <button mat-raised-button color="primary" type="submit">Register</button>
    </div>
  </div>
</form>
