/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// grids
.row {
  display: flex;
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.col {
  flex: 1;
  margin-right: 10px;
}

.col-fill {
  flex: auto;
}

.col:last-child {
  margin-right: 0;
}

.align-center {
  align-content: center;
}

.align-end {
  align-content: flex-end;
}

.justify-end {
  justify-content: flex-end;
}

.justify-space-between {
  justify-content: space-between;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-col-margin {
  margin-bottom: 10px;
}

.flex-col-margin:last-child {
  margin-bottom: 0;
}

// utils
.full-width {
  width: 100%;
}

.table-card {
  max-width: 1000px;
}

.resource-card {
  width: 250px;
  height: 250px;
}

.corner-button {
  position: absolute;
  bottom: -10px;
  right: -10px;
}

.export-card {
  width: 400px;
}

// margins
.margin {
  margin: 10px;
}

.margin-left {
  margin-left: 10px;
}

.margin-right {
  margin-right: 10px;
}

.margin-top {
  margin-top: 10px;
}

.margin-bottom {
  margin-bottom: 10px;
}

// margin between
.margin-between {
  margin-right: 10px;
  display: inline-block;
}

.margin-between:last-child {
  margin-right: 0;
}

// paddings
.padding {
  padding: 10px;
}

.padding-left {
  padding-left: 10px;
}

.padding-right {
  padding-right: 10px;
}

.padding-top {
  padding-top: 10px;
}

.padding-bottom {
  padding-bottom: 10px;
}

// text alignment
.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}
