@import '~@angular/material/theming';
@import 'styles';

@include mat-core();

$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);
$theme: mat-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
  )
));

@include angular-material-theme($theme);

.background-primary {
  background-color: mat-color($primary);
  color: mat-color($primary, default-contrast);
}
