<form [formGroup]="databaseForm" novalidate (ngSubmit)="onSubmit()">
  <h2>Existing database</h2>

  <mat-form-field>
    <mat-label>Driver</mat-label>
    <mat-select formControlName="driver">
      <mat-option value="postgresql">
        PostgreSQL
      </mat-option>
    </mat-select>
  </mat-form-field>

  <app-form-field [form]="databaseForm" label="User name" name="usr" placeholder="postgres"></app-form-field>
  <app-form-field [form]="databaseForm" label="Password" name="pwd" type="password"></app-form-field>
  <app-form-field [form]="databaseForm" label="Database" name="db" placeholder="postgres"></app-form-field>
  <app-form-field [form]="databaseForm" label="Host" name="host" placeholder="localhost"></app-form-field>
  <app-form-field [form]="databaseForm" label="Port" name="port" type="number" placeholder="5432"></app-form-field>

  <div class="margin-between">
    <button mat-flat-button mat-dialog-close type="button">Cancel</button>
  </div>
  <div class="margin-between">
    <button mat-raised-button color="primary" type="submit">Save</button>
  </div>
</form>
