<header class="background-primary text-center">
  <div class="header-container">
    <h1 class="text-title">Generate Realistic Data</h1>
    <button mat-raised-button (click)="startNow()">
      Start Now
    </button>
  </div>
</header>

<main class="row">
  <article class="col">
    <h2>Upload reference data</h2>
    <ul>
      <li>tables, columns, and integrity constraints are loaded</li>
      <li>SQLite and PostgreSQL databases supported out of the box</li>
      <li>upload data from a JSON or CSV file</li>
      <li>the schema can be manually edited even without source data</li>
    </ul>
  </article>
  <article class="col">
    <h2>Customize the generators</h2>
    <ul>
      <li>choose from a set of parametrizable generators</li>
      <li>generators are assigned automatically</li>
      <li>parameters are learned from the reference data</li>
      <li>extensible via Python programming</li>
    </ul>
  </article>
  <article class="col">
    <h2>Create synthetic data</h2>
    <ul>
      <li>fill a database directly</li>
      <li>generate JSON, CSV, or an INSERT script</li>
      <li>export to a configuration file and run from the CLI application</li>
    </ul>
  </article>
</main>
