<div *ngIf="project" class="row flex-wrap">
  <app-table-count [project]="project" (tableCountsChanged)="tableCountsChanged($event)"></app-table-count>
  <div>
    <app-output-choice [project]="project" (outputChoiceChanged)="outputChoiceChanged($event)"></app-output-choice>
    <mat-card class="margin-left margin-top export-card" *ngIf="tableCounts && outputChoice">
      <mat-card-header>
        <mat-card-title>Export</mat-card-title>
      </mat-card-header>
      <button mat-raised-button color="accent" (click)="generate()">Generate</button>
    </mat-card>
  </div>
</div>
